::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(blue,white);
    border-radius: 20px;
}
::selection{
    background-color: black;
    color: white
}
